<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-********" crossorigin="anonymous" />

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__left">
            <div class="navbar__menu-icon">
                <i class="fas fa-bars fa-lg"></i>
            </div>
          <div class="navbar__login">LOGO HERE</div>
        </div>
        <div class="navbar__right">
          <div class="navbar__icon">
            <i class="fas fa-bell"></i>
          </div>
          <div class="navbar__icon">
            <i class="fas fa-suitcase"></i>
          </div>
          <div class="navbar__image">
            <img src="images/head.jpg" alt="User Image">
          </div>
        </div>
      </nav>
    </nav>
    <div class="contaner">
        <div class="sidebar">
            <div class="owner-section">
                <div class="owner-section__info">
                <img class="owner-section__picture" src="images/head.jpg" alt="Owner Picture">
                <div class="owner-section__text">
                    <h3 class="owner-section__name">John Doe</h3>
                    <p class="owner-section__role">Employee</p>
                </div>
                </div>
            </div>
            <ul class="sidebar__menu">
                <li class="sidebar__item">
                    <i class="sidebar__icon fas fa-user"></i>
                    <span class="sidebar__text">Employees</span>
                </li>
                <li class="sidebar__item">
                    <i class="sidebar__icon fas fa-user-circle"></i>
                    <span class="sidebar__text">Employee profile</span>
                </li>
                <li class="sidebar__item">
                    <i class="sidebar__icon fas fa-id-badge"></i>
                    <span class="sidebar__text">my profile</span>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="sections">
                <div class="sections__main-section sections__first-section">
                    <div class="sections__first-first-section">
                        <div class="first-head">
                            <div class="first-area">
                                <div class="first-area__badge">
                                    <div class="fas fa-id-badge fas-badge"> </div>
                                </div>
                                <div class="first-area__employee">
                                    <h5 class="first-area__h5">
                                        Employees
                                    </h5>
                                </div>
                            </div>
                            <div class="700">
                                <h4>700</h4>
                            </div>
                        </div>
                    </div>
                    <div class="sections__second-second-section">
                        <div class="sectionss">
                            <div class="sections__second-h3">
                                <h3>Employement structure</h3>
                            </div>
                            <div class="sections__second-ranges">
                                <div class="first-range">
                                    <div class="first-range__70">70%</div>
                                    <h4 class="first-range__h4" >Male</h4>
                                </div>
                                <div class="second-range">
                                    <div class="second-range__30">30%</div>
                                    <h4 class="second-range__h4"> Female</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sections__main-section sections__second-section">
                    <div class="sections__first-second-section">
                        <div class="second-head">
                            <div class="first-area">
                                <div class="badge">
                                    <div class="fas fa-history fas-history"> </div>
                                </div>
                                <div class="employee">
                                    <h5 class="employee-h5">
                                        New Employees
                                    </h5>
                                </div>
                            </div>
                            <div class="first-area__30">
                                <h4 class="first-area__h4">30</h4>
                            </div>
                        </div>
                    </div>
                    <div class="sections__second-second-section">
                        <div class="sectionss">
                            <div class="sections__second-h3">
                                <h3 class="second--h3">Today</h3>
                            </div>
                            <div class="sections__second-ranges">
                                <div class="first-range">
                                    <div class="first-range__70">70%</div>
                                    <h4 class="first-range__h4">Male</h4>
                                </div>
                                <div class="second-range">
                                    <div class="second-range__30">30%</div>
                                    <h4 class="second-range__h4"> Female</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sections__main-section sections__third-section">
                    <div class="sections__only-section">
                        <div class="section__third-section-image">
                            <img src="images/head.jpg" alt="owners-image" class="third-secton--image">
                        </div>
                        <div class="third-section--welcome">
                            <h4 class="third-section--h4">Welcome Daniel</h4>
                            <p class="third-section--date">Sunday, 11 June 2023</p>
                        </div> 

                    </div>
                </div>
            </div>
          </div>
    </div>
    
</body>
</html>


