<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/dashboard.css" />
    <link rel="stylesheet" href="styles/users.css">
    <link rel="stylesheet" href="styles/employee-profile.css">
    <link rel="stylesheet" href="styles/main.css">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-********"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__left">
        <div class="navbar__left-logo">
          <img src="images/sniper.png" alt="logo" />
        </div>
        <div class="navbar__text">
          <p>AVI-HUB</p>
        </div>
      </div>
      <div class="navbar__right">
        <img src="images/head.jpg" alt="User Image" />
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar__card">
          <img src="images/head.jpg" alt="logo" />
          <div class="sidebar__container">
            <h4 class="text-bold-500">John Doe</h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
        <section class="sidebar__menu">
          <a class="sidebar__item" href="dashboard.html">
            <i class="sidebar__icon fas fa-tachometer-alt"></i>
            <span class="sidebar__text">Dashboard</span>
          </a>
          <a class="sidebar__item " href="users.html">
            <i class="sidebar__icon fas fa-user"></i>
            <span class="sidebar__text">Manage Users</span>
          </a>
          <a class="sidebar__item sidebar__menu-active" href="#">
            <i class="sidebar__icon fas fa-user-circle" ></i>
            <span class="sidebar__text">Employee profile</span>
          </a>
          <a class="sidebar__item" href="profile" >
            <i class="sidebar__icon fas fa-id-badge"></i>
            <span class="sidebar__text">My profile</span>
          </a>
        </section>
      </div>
      <div class="main">
       <div class="employee__profile">
        <div class="employee__profile-section1">
            <div class="employee__profile-section1-info ">
                <div class="employee__profile-section1-infos profile">
                    <div class="employee__img">
                        <img src="images/head.jpg" alt="owner">
                    </div>
                    <div class="employee__info">
                        <div class="design">
                            <h2>John Doe</h2>
                            <h5 class="grey">UI/UX Design Team</h5>
                        </div>
                        <h3 class="grey">Web Designer</h3>
                        <div class="employee-id">
                            <h5>Employee ID : FT - 0001</h5>
                            <h5 class="grey">Sate of Join : 1st Jan 2023</h5>
                        </div>
                    </div>
                </div>

                <div class="vertical-line"></div>

                <div class="employee__contacts">
                    <section class="information-section">
                        <div class="info-section-right">
                            <div>
                                <div class="information-column">
                                <div class="information-row">
                                    <div class="information-label">Phone:</div>
                                    <div class="information-value blue">1234567890</div>
                                </div>
                                <div class="information-row">
                                    <div class="information-label">Email:</div>
                                    <div class="information-value blue">johndoe@gmail.com</div>
                                </div>
                                <div class="information-row">
                                    <div class="information-label">Birthday:</div>
                                    <div class="information-value">30th July</div>
                                </div>
                                <div class="information-row">
                                    <div class="information-label">Address:</div>
                                    <div class="information-value">21st, surulere, Lagos, Nigeria</div>
                                </div>
                                <div class="information-row">
                                    <div class="information-label">Gender:</div>
                                    <div class="information-value">Male</div>
                                </div>
                                </div>
                            </div>
                            <i class="far fa-edit right"></i>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="information-sections">
            <div class="passport-info-container">
                <div class="info-edit">
                    <div class="info-heading">Passport Information</div>
                    <i class="far fa-edit"></i>
                </div>
              <div class="info-row">
                <div class="info-label">Passport Number:</div>
                <div class="info-value">123456789</div>
              </div>
              <div class="info-row">
                <div class="info-label">Passport Expiry Date:</div>
                <div class="info-value">2024-12-31</div>
              </div>
              <div class="info-row">
                <div class="info-label">Tel:</div>
                <div class="info-value">1234567890</div>
              </div>
              <div class="info-row">
                <div class="info-label">Nationality:</div>
                <div class="info-value">Nigeria</div>
              </div>
              <div class="info-row">
                <div class="info-label">Religion:</div>
                <div class="info-value">Muslim</div>
              </div>
              <div class="info-row">
                <div class="info-label">Marital Status:</div>
                <div class="info-value">Single</div>
              </div>
              <div class="info-row">
                <div class="info-label">Employment of Spouse:</div>
                <div class="info-value">No</div>
              </div>
            </div>
          
            <div class="emergency-contact-container">
                <div class="info-edit">
                    <h2 class="info-heading">Emergency Contact</h2>
                    <i class="far fa-edit"></i>
                </div>
              <div class="info-column">
                <div class="info-row">
                  <div class="info-label">Name:</div>
                  <div class="info-value">John Doe</div>
                </div>
                <div class="info-row">
                  <div class="info-label">Relationship:</div>
                  <div class="info-value">Relative</div>
                </div>
                <div class="info-row">
                  <div class="info-label">Phone:</div>
                  <div class="info-value">9876543210</div>
                </div>
              </div>
              <div class="thin-line"></div>
              <div class="info-column">
                <div class="info-row">
                  <div class="info-label">Name:</div>
                  <div class="info-value">Jane Smith</div>
                </div>
                <div class="info-row">
                  <div class="info-label">Relationship:</div>
                  <div class="info-value">Friend</div>
                </div>
                <div class="info-row">
                  <div class="info-label">Phone:</div>
                  <div class="info-value">1234567890</div>
                </div>
              </div>
            </div>
          </section>
          
       </div>
      </div>
    </div>
  </body>
</html>
