<<<<<<< HEAD
.custom-btn {
  background-color: var(--primary-green-2);
  color: var(--primary-white);
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-btn {
  background-color: #4caf50;
  color: #fff;
>>>>>>> 1d379478d5f90bcd2cc22b59b41c0e18e8135eaa
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
<<<<<<< HEAD
  box-shadow: var(--box-shadow);
=======
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
>>>>>>> 1d379478d5f90bcd2cc22b59b41c0e18e8135eaa
}
