.custom-btn {
  background-color: var(--primary-green-2);
  color: var(--primary-white);
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow);
}
