.text-normal {
  font-weight: normal;
}

body {
  background: var(--bg-white);
}

.text__bold__500 {
  font-weight: var(--font-bold);
}

.container {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: var(--bg-white);
  box-shadow:var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: var(--primary-white);
  z-index: 999;
}

.navbar__left {
  display: flex;
}

.navbar__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-black);
  font-size: var(--font-size);
  font-weight: var(--font-bold-600);
}

.navbar__menu {
  cursor: pointer;
  padding-right: 10px;
}

.navbar__left__logo {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar__left__logo img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__right {
  padding: 10px 0px;
}

.navbar__right img {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid var(--primary-red);
  border-radius: 10px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-left: 10px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow)
}

.sidebar__card {
  background-color: var(--bg-white);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 97%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.sidebar__card img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid var(--primary-red);
}

.sidebar__container p {
  font-size: var(--font-size);
  color: var(--primary-black-3);
}
.sidebar__item {
  text-decoration: none;
  color: var(--primary-black);
}
.sidebar__menu__active {
  color: var(--primary-white);
  background-color:var(--primary-red);
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.sidebar__container h4 {
  margin-bottom: 4px;
}

.sidebar__menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar__item {
  padding: 14px 10px;
  margin: 3px 0px;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  position: relative;
  align-items: center;
  transition: 0.3s;
}

.sidebar__icon {
  color: var(--primary-red);
  transition: color 0.3s;
  padding: 0px 16px;
}
.sidebar__menu__active {
  color: var(--primary-white);
  background-color: var(--primary-red);
}

.sidebar__menu__active,
.sidebar__item:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.sidebar__menu__active::before,
.sidebar__item:hover::before {
  content: "";
  width: 4px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  position: absolute;
  left: 5px;
}

.sidebar__menu__active .sidebar__icon,
.sidebar__item:hover .sidebar__icon {
  color: var(--primary-white);
}

.fa__users {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--box-shadow-3);
}

.items__icon {
  background-color: var(--primary-red);
  color: var(--primary-white);
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--box-shadow-3);
}

.main {
  width: 80vw;
  margin-left: 280px;
  margin-top: 145px;
  padding: 16px;
  height: 100vh;
  background-color: var(--bg-white);
}

.card__item1__first:hover {
  box-shadow:var(--box-shadow-hover)
}

.card__content:hover {
  box-shadow: var(--box-shadow-hover);
}

.cards {
  display: flex;
  flex-direction: row;
}

.card__item1__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-white);
  border-radius: 5px;
  padding: 16px;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.card__item1__first h5 {
  font-weight: var(--font-bold);
}

.fa-users {
  display: flex;
  padding: 13px 13px;
  color: var(--primary-white);
  border-radius: 4px;
  height: 15px;
  max-width: 15px;
}

.fa__user__plus {
  display: flex;
  padding: 13px 13px;
  color: var(--primary-white);
  border-radius: 4px;
  height: 15px;
  max-width: 15px;
}

.card__content {
  background-color: var(--bg-white);
  border-radius: 5px;
  padding: 16px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.card__content h3 {
  margin-top: -3px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.card__item1__first__items {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card__item1__first__both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card__item1__first__both i {
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 20px;
}

.card__item1__first__both h5 {
  margin-top: 15px;
}

.card__items__number {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 120px;
  font-size: 32;
  font-weight: var(--font-bold-600);
}

.card__item1__number {
  font-size: 30px;
  font-weight: var(--font-bold);
}

.card__items__number__column {
  display: flex;
  flex-direction: column;
}

.card__items__number__column h2 {
  font-size: 30px;
  font-weight: var(--font-bold);
}

.item1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.item3__container {
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.item3__container:hover {
  box-shadow: var(--box-shadow-hover)
}

.item3__container img {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-red);
  margin-top: 0px;
  z-index: 1;
}

.item3__content {
  margin-top: -30px;
  z-index: 0;
  background-color: var(--primary-white-2);
  border-radius: 10px;
  padding: 20px 5px;
  width: 240px;
}

.item3__content h3 {
  font-weight: var(--font-bold);
  margin-top: 10px;
}

.item3__content p {
  font-size: 13px;
  margin-top: 12px;
}
