/*
 * This file contains custom classes for regularly used css styles
 */

.d-flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.wrapper-container{
  box-shadow: var(--box-shadow);
  padding: 20px;
}
