:root {
  /* colors */
  --primary-red: #d15267;
  --bg-color: white;
  --primary-white: white;
  --primary-white-2: #e0e0e0;
  --primary-green: #45a049;
  --primary-green-2: #4caf50;
  --primary-black: black;
  --primary-black-2: #333;
  --primary-black-3: rgb(72, 68, 68);
  --primary-blue:blue;

  /* fonts */
  --font-family: "Montserrat", sans-serif;
  --font-size: 15px;
  --font-bold: 500;
  --font-bold-400: 400;
  --font-bold-600: 600;
  --font-bold-700: 700;

  /* box shadow */
  --box-shadow-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-3: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

  /* borders */
  --border-round: 50%;
  --avatar-border: 2px solid rgb(230, 88, 111);
  --border-radius: 4px;
  --border-input: 1px solid #e8e9e9;
	--avatar-border: 2px solid rgb(230, 88, 111);

  /* badge-colors */
  --badge-danger-color: #e8769f;
  --badge-primary-color: #6e7687;
  --badge-warning-color: #cedd7a;
  --badge-info-color: #5a5278;

  /* background-gradient */
  --background-gradient: linear-gradient(135deg, #00f260, #0575e6);
}
