@import "main.css";

.text-normal {
  font-weight: normal;
}

.text-bold-500 {
  font-weight: var(--font-bold);
}

.container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: var(--primary-white);
  z-index: 999;
}

.navbar__left {
  display: flex;
}

.navbar__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: var(--font-size);
  font-weight: var(--font-bold-600);
}

.navbar__menu {
  cursor: pointer;
  padding-right: 10px;
}

.navbar__left-logo {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar__left-logo img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__right {
  padding: 10px 0px;
}

.navbar__right img {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: var(--avatar-border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-left: 10px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.sidebar__card {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  margin-bottom: 10px;
  width: 97%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.sidebar__card img {
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  object-fit: cover;
  border: var(--avatar-border);
}

.sidebar__container p {
  font-size: var(--font-size);
  color: grey;
}
.sidebar__item {
  text-decoration: none;
  color: black;
}
.sidebar__menu-active {
  color: var(--primary-white);
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.sidebar__container h4 {
  margin-bottom: 4px;
}

.sidebar__menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar__item {
  padding: 14px 10px;
  margin: 3px 0px;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: var(--font-size);
  position: relative;
  align-items: center;
  transition: 0.3s;
}

.sidebar__icon {
  color: var(--primary-red);
  transition: color 0.3s;
  padding: 0px 16px;
}

.sidebar__menu-active,
.sidebar__item:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.sidebar__menu-active::before,
.sidebar__item:hover::before {
  content: "";
  width: 4px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  position: absolute;
  left: 5px;
}

.sidebar__menu-active .sidebar__icon,
.sidebar__item:hover .sidebar__icon {
  color: var(--primary-white);
}

.fa-users {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 15px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.main {
  width: 100%;
  margin-left: 270px;
  margin-top: 65px;
  padding: 16px;
  height: 100vh;
}

.card-item1-first:hover {
  box-shadow: var(--box-shadow-hover);
}

.card-content:hover {
  box-shadow: var(--box-shadow-hover);
}

.cards {
  display: flex;
  flex-direction: row;
}

.card-item1-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 16px;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.card-item1-first h5 {
  font-weight: var(--font-bold);
}

.fa-users {
  display: flex;
  padding: 13px 13px;
  color: var(--primary-white);
  border-radius: var(--border-radius);
  height: 15px;
  max-width: 15px;
}

.fa-user-plus {
  display: flex;
  padding: 13px 13px;
  color: var(--primary-white);
  border-radius: var(--border-radius);
  height: 15px;
  max-width: 15px;
}

.card-content {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 16px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.card-content h3 {
  margin-top: -3px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: var(--font-bold);
}

.card-item1-first-items {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-item1-first-both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-item1-first-both i {
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 20px;
}

.card-item1-first-both h5 {
  margin-top: 15px;
}

.card-items-number {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 120px;
  font-size: 32;
}

.card-item1-number {
  font-size: 30px;
  font-weight: var(--font-bold);
}

.card-items-number-column {
  display: flex;
  flex-direction: column;
}

.card-items-number-column h2 {
  font-size: 30px;
  font-weight: var(--font-bold);
}

.employee__profile {
  display: flex;
  flex-direction: column;
}
.employee__profile-section1 {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 100%;
  box-shadow: var(--box-shadow);
}
.employee__profile-section1:hover {
  box-shadow: var(--box-shadow-hover);
}
.employee__profile-section1-info {
  display: flex;
}
.employee__profile-section1-infos {
  display: flex;
}
.profile {
  flex: 1;
  flex-wrap: wrap;
}
.employee__info {
  margin-left: 20px;
}
.design {
  margin-bottom: 10px;
  font-weight: var(--font-bold);
}
.design h2 {
  margin-bottom: 5px;
}
.grey {
  font-weight: var(--font-bold);
}

.employee-id {
  margin-top: 10px;
}
.employee-id-1 {
  margin-bottom: 5px;
  font-weight: var(--font-bold);
}

.design h2 {
  font-weight: var(--font-bold);
}

.info-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vertical-line {
  border-left: 3px dotted grey;
  margin-right: 15px;
  height: 120px;
}
.info-section-icon {
  display: flex;
}
.info-section-right {
  display: flex;
  justify-content: space-between;
}

.employee__contacts {
  position: relative;
}

.information-section {
  display: flex;
  align-items: flex-start;
}

.info-section-left {
  flex-grow: 1;
}

.info-section-right {
  margin-left: auto;
}

.fa-right {
  display: flex;
  align-items: flex-start;
}

.far {
  color: grey;
}
.fa-right {
  top: 0;
  right: 0;
  position: relative;
}

.employee__img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: var(--avatar-border);
  border-radius: var(--border-round);
}

.employee__contacts {
  flex: 1;
}

.information-section {
  display: flex;
  justify-content: center;
}

.information-column {
  display: flex;
  flex-direction: column;
}

.information-row {
  display: flex;
  margin-bottom: 10px;
}

.information-label {
  min-width: 150px;
  font-size: var(--font-size);
}

.information-value {
  margin-left: 10px;
  color: #8e8e8e;
  font-size: var(--font-size);
}

.information-sections {
  display: flex;
}

.passport-info-container {
  margin-right: 20px;
}
.passport-info-container,
.emergency-contact-container {
  margin-top: 20px;
  margin-right: px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  flex: 1;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.passport-info-container:hover,
.emergency-contact-container:hover {
  box-shadow: var(--box-shadow-hover);
}
.info-heading {
  margin-bottom: 20px;
  font-weight: var(--font-bold);
  font-size: 20px;
}

.info-row {
  display: flex;
  margin-bottom: 10px;
  font-size: var(--font-size);
}

.info-label {
  font-weight: 500;
  min-width: 250px;
  font-size: var(--font-size);
}

.info-value {
  margin-left: 10px;
  color: grey;
  font-size: var(--font-size);
}

.thin-line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0;
}
