@import "variable.css";

.text-normal {
  font-weight: normal;
}

.text-bold-500 {
  font-weight: var(--font-bold);
}

.container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: var(--primary-white);
  z-index: 999;
}

.navbar__left {
  display: flex;
}

.navbar__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: var(--font-size);
  font-weight: var(--font-bold-600);
}

.navbar__menu {
  cursor: pointer;
  padding-right: 10px;
}

.navbar__left-logo {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar__left-logo img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__right {
  padding: 10px 0px;
}

.navbar__right img {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: var(--avatar-border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-left: 10px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.sidebar__card {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  margin-bottom: 10px;
  width: 97%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.sidebar__card img {
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  object-fit: cover;
  border: var(--avatar-border);
}

.sidebar__container p {
  font-size: var(--font-size);
  color: grey;
}

.sidebar__item {
  text-decoration: none;
  color: black;
}

.sidebar__menu-active {
  color: var(--primary-white);
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.sidebar__container h4 {
  margin-bottom: 4px;
}

.sidebar__menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar__item {
  padding: 14px 10px;
  margin: 3px 0px;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: var(--font-size);
  position: relative;
  align-items: center;
  transition: 0.3s;
}

.sidebar__icon {
  color: var(--primary-red);
  transition: color 0.3s;
  padding: 0px 16px;
}

.sidebar__menu-active,
.sidebar__item:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.sidebar__menu-active::before,
.sidebar__item:hover::before {
  content: "";
  width: 4px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  position: absolute;
  left: 5px;
}

.sidebar__menu-active .sidebar__icon,
.sidebar__item:hover .sidebar__icon {
  color: var(--primary-white);
}

.fa-users {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 15px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.main {
  width: 100%;
  margin-left: 270px;
  margin-top: 65px;
  padding: 16px;
  height: 100vh;
}

.employee-management {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.employee-management:hover {
  box-shadow: var(--box-shadow-hover);
}

.employee-management-both {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 4px;
}

.employee-management__search {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search-button {
  padding: 8px 18px;
  background: transparent;
  border: none;
  border: var(--border-input);
  border-radius: var(--border-radius);
}

.fa-light {
  color: black;
  background-color: blue;
}

.employee-management-add {
  background-color: transparent;
  padding: 0px 3px;
  border-radius: var(--border-radius);
  color: var(--primary-white);
  height: 50px;
  margin-top: -6px;
  margin-bottom: 5px;
}

.add {
  background-color: rgb(23, 158, 185);
  border: none;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  max-width: 70px;
  float: right;
  display: flex;
  flex-direction: row;
  color: var(--primary-white);
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.add span {
  padding: 0 4px;
}

.employee-management__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: var(--font-bold);
  text-align: center;
}

.employee-management__search {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}

.employee-management__search-input {
  padding: 8px;
  width: 200px;
  border: var(--border-input);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}

.employee-management__search-button {
  padding: 8px;
  font-weight: var(--font-bold-600);
  color: var(--primary-white);
  background-color: #2980b9;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.employee-management__search-button:hover {
  background-color: #1a5276;
}

.employee-management__table {
  width: 100%;
  border-collapse: collapse;
}

.employee-management__table th {
  font-weight: var(--font-bold-400);
}

.employee-management__table th,
.employee-management__table td {
  padding: 10px;
  text-align: left;
}

.employee-management__table td {
  border-top: 1px solid #dee2e6;
}

.employee-management__row:nth-child(even) {
  background: rgba(0, 0, 0, 0.04);
}

.employee-management__row {
  padding: 10px;
}

.employee-management__action {
  margin-right: 5px;
  padding: 8px 10px;
  color: var(--primary-white);
  background-color: #2980b9;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.employee-management__action:hover {
  background-color: #1a5276;
}

.employee-management__action--view {
  background-color: #8e44ad;
}

.employee-management__action--view:hover {
  background-color: #6c3483;
}

.employee-management__action--edit {
  background-color: #f39c12;
}

.employee-management__action--edit:hover {
  background-color: #d68910;
}

.employee-management__action--delete {
  background-color: #e74c3c;
}

.employee-management__action--delete:hover {
  background-color: #c0392b;
}

.employee-management__name-cell {
  display: flex;
  align-items: center;
}

.employee-management__avatar {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: var(--border-round);
  background-color: #ccc;
  overflow: hidden;
}

.employee-management__role-super {
  background-color: var(--badge-danger-color);
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px 5px;
  color: var(--primary-white);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

.employee-management__role-employee {
  background-color: var(--badge-primary-color);
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-white);
  padding: 3px 5px;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

.employee-management__role-hr {
  background-color: var(--badge-warning-color);
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-white);
  padding: 3px 5px;
  border-radius: var(--border-radius);
  font-size: 14px;
}

.employee-management__role-admin {
  background-color: var(--badge-info-color);
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-white);
  padding: 3px 5px;
  border-radius: var(--border-radius);
  font-size: 14px;
}

.employee-management__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee-management__name-email-container {
  display: flex;
  flex-direction: column;
}

.employee-management__name {
  font-weight: var(--font-bold);
}

.employee-management__email {
  font-size: var(--font-size);
  color: #888888;
}

.employee-management__action-container {
  display: flex;
  flex-direction: row;
}
