.passportInfoContainer {
  margin-top: 20px;
  margin-right: 20px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  flex: 1;
  padding: 20px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.3s;
  position: relative;
}

.passportInfoContainer:hover {
  box-shadow: var(--box-shadow-hover);
}

.infoEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoHeading {
  margin-bottom: 20px;
  font-weight: var(--font-bold);
  font-size: 20px;
}

.infoRow {
  display: flex;
  margin-bottom: 10px;
  font-size: var(--font-size);
}

.infoLabel {
  font-weight: 500;
  min-width: 250px;
}

.infoValue {
  margin-left: 10px;
  color: var(--primary-black-4);
}

.contact__info__right {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
}

.contact__info__edit {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  color: var(--primary-black-4);
}
