.container {
  width: 100%;
}

.main {
  padding: 0px 16px 6px 0px;
  background: var(--bg-white);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.employee__management__phase1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top:40px;
  border-radius: 4px;
}

.employee__management__text {
  font-size: 1.3rem;
  font-weight: var(--font-bold);
}

.employee__management__search {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.employee__management__search__input {
  height: 30px;
  padding: 0.5rem;
}

.search__button,
.add {
  margin-right: 4px;
  background: none;
  cursor: pointer;
  border-color: #999 ;
  display: flex;
  color: #999;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
}

.search__button{
  margin-left:5px; 
}

.adds{
  width:100%;
  align-items: center;
}

.add {
  color: var(--primary-white);
  border-radius: 4px;
  border: none;
  margin-left: 195px;
  background:var(--primary-blue-2);
  border: none;
  display: flex;
  align-items: center;
  margin-top:-35px;
  margin-bottom:5px;
  cursor: pointer;
  color: var(--primary-white);
  margin-right:-200px;
}

.search{
  display: flex;
  flex-direction: row;
}
