.container {
  width: 100%;
}

.main {
  padding: 0px 16px 6px 0px;
  background: var(--bg-white);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.employee__management__phase1 {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top:40px;
  border-radius: 4px;
}

.row__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.addIcon{
  margin-right: 4px;
}

.employee__management__text {
  font-size: 1.3rem;
  font-weight: var(--font-bold);
}

.employee__management__search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.employee__management__search__input {
  height: 40px;
  padding: 0.5rem;
  background-color: var(--bg-white);
  align-items: center;
}

.search__button,
.add {
  margin-right: 4px;
  background: none;
  cursor: pointer;
  border-color: var(--primary-black-4) ;
  display: flex;
  color: var(--primary-black-4);
  padding: 0.7rem;
  border-radius: var(--border-radius);
}

.search__button{
  margin-left:9px; 
  color: var(--primary-black);
  border: 1px solid var(--primary-black-4);
  font-size: var(--font-size)
}

.adds{
  width:100%;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3px 0px 3px 0px;
}

.add {
  position: relative;
  color: var(--primary-white);
  border-radius: var(--border-radius);
  border: none;
  background:var(--primary-blue-2);
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-white);
  float: right;

}

.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}
