@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
<<<<<<< HEAD
  font-family: var(--font-family);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
=======
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
>>>>>>> 1d379478d5f90bcd2cc22b59b41c0e18e8135eaa
}

