.main {
  width: 80vw;
}
.employee__profile__section1 {
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.3s;
  align-items: center;
  justify-content: center;
}

.employee__profile__section1:hover {
  box-shadow: var(--box-shadow-hover);
}

.employee__profile__section1__info {
  display: flex;
  justify-content: space-evenly;
}

.ContactInfo {
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}

.vertical__line {
  border-left: 3px dotted grey;
  margin-top: 25px;
  margin-left: 5px;
  height: 120px;
}

.information__sections {
  display: flex;
  align-items: flex-start;
  width: 81vw;
}

.vertical__contact {
  display: flex;
  justify-content: center;
}
