.employee__profile__section1 {
  border-radius: var(--border-radius);
  display: flex;
  padding: 10px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.3s;
  margin-right: 20px;
}

.employee__profile__section1:hover {
  box-shadow: var(--box-shadow-hover);
}

.employee__profile__section1__info {
  display: flex;
  align-items: center;
  width: 100%;
}

.EmployeeInfo {
  flex: 1;
}

.ContactInfo {
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.vertical__line {
  border-left: 3px dotted var(--primary-black-4);
  margin-top: 25px;
  margin-left: 5px;
  height: 120px;
}

.information__sections {
  display: flex;
  align-items: flex-start;
  width: 81vw;
}

.vertical__contact {
  display: flex;
  justify-content: center;
}

.contact__info__edit {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  color: var(--primary-black-4);
}
