.employee__profile__section1 {
  border-radius: var(--border-radius);
  padding: 20px;
  width: 100%;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.3s;
}

.employee__profile__section1:hover {
  box-shadow: var(--box-shadow-hover);
}

.employee__profile__section1__info {
  display: flex;
}

.ContactInfo {
  margin-left: 300px;
  align-items: center;
  justify-content: center;
}

.vertical__line {
  border-left: 3px dotted grey;
  margin-top: 25px;
  height: 120px;
  position: absolute;
  margin-left: 620px;
}

.information__sections {
  display: flex;
  align-items: flex-start;
  width:81vw;
}
