.body {
  font-family: var(--font-family);
  background: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 500px;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-hover);
  font-size: var(--font-size);
}
.container__description {
  margin-bottom: 10px;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.container:hover {
  transform: scale(1);
}

.container__title {
  text-align: center;
  margin-bottom: 5px;
  color: var(--primary-green);
  font-size: 32px;
}

.form__group {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-weight: var(--font-bold);
  color: var(--primary-black-2);
  margin-bottom: 5px;
  font-size: var(--font-size);
}

.form__input[type="email"],
.form__input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--primary-white-2);
  background-color: var(--primary-white);
  transition: background-color 0.3s ease;
  font-size: var(--font-size);
}

.form__input[type="email"]:hover,
.form__input[type="password"]:hover {
  background-color: var(--primary-white-2);
}

.form__submit {
  background-color: var(--primary-green);
  color: var(--primary-white);
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  font-size: var(--font-size);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow);
}

.form__submit:hover {
  background-color: var(--primary-green);
}

.container__logo {
  text-align: center;
  margin-bottom: 20px;
}

.container__logo img {
  max-width: 200px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.register__link {
  text-align: center;
  margin-top: 10px;
}

.register__link__anchor {
  color: var(--primary-black-2);
  text-decoration: none;
  margin-left: 10px;
}
